#root {
  text-align: center;
}

.createSession {
  padding: 40px;
  will-change: filter, transform, box-shadow, background-color, opacity, border-color;
  transition: filter 200ms, transform 400ms, box-shadow 600ms, background-color 300ms, opacity 100ms, border-color 100ms;
  background-color: var(--light-text);
  font-size: 40px;
  color: #444444;
  font-weight: bold;
  font-style: normal;
}

.createSession:hover {
  background-color: var(--card-color);
  filter: drop-shadow(0 0 2rem var(--secondary));
  border-color: var(--secondary-opacity);
  color: var(--dark-text);
  transform: translateY(-10px);
  box-shadow: 0 10px 0.2rem 0.2rem var(--box-shadow);
}

.createSession:active {
  opacity: 90%;
  border-color: var(--secondary);
  background-color: var(--card-color-on-hover);
}