.prompt-text-div {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin: 10px;
}

.prompt-input, .prompt-output {
    background-color: var(--light-text);
    color: var(--dark-text);
    width: 100%;
    background-color: transparent;
    border: none;
}

.prompt-input {
    max-height: 150px;
}

.prompt-output {
    max-height: none;
}

.prompt-button {
    margin: 0 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-color: var(--primary);
    color: var(--light-text);
}

.prompt-button:disabled {
    background-color: var(--primary-opacity);
    color: var(--light-text);
}

.prompt-highlighted {
    box-shadow: 0 0 10px var(--primary);
}