.error-container{
    border-radius: 40px;
    padding: 50px;
}

.error-button{
    margin-top: 25px;
    background-color: var(--error);
    color: var(--light-text);
}

.error-text{
    text-align: center;
}