#invite-link-input {
    width: 80%;
    max-width: 315px;
}

.invite-link {
    align-items: center;
}

.invite-link-input, .invite-link-button {
    margin: 20px 0;
}

.start-game {
    background-color: var(--secondary);
}