#invite-link-input {
    min-width: 350px;
    width: auto;
    text-align: center;
}

.invite-link {
    align-items: center;
}

.invite-link-input, .invite-link-button {
    margin: 20px 0;
}

.start-game {
    background-color: var(--secondary);
}