.card {
    background-color: var(--card-color);
    border-radius: 40px;
    padding: 15px;
    border: 5px solid var(--border-color);
    will-change: background-color, box-shadow;
    transition: background-color 500ms, box-shadow 500ms;
}

.card:hover {
    box-shadow: 0 0 2px 2px var(--border-color);
    background-color: var(--card-color-on-hover);
}

.card-title {
    padding-bottom: 10px;
}

.card-selected {
    border-color: var(--success);
}