/*Fonts*/
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-M.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-MI.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-L.ttf);
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-LI.ttf);
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-B.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Ubuntu;
  src: url(src/assets/fonts/ubuntu-font-family-0.80/Ubuntu-BI.ttf);
  font-weight: bold;
  font-style: italic;
}

/*general styles for root body*/
:root, body {
  font-family: Ubuntu, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  background: linear-gradient( 27deg, #C6425F, #ffee00);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /*Colors:*/
  --primary: #bc14ff;
  --primary-opacity: #bc14ff50;
  --secondary: #10ff90;
  --secondary-opacity: #10ff9050;
  --light-text: #eee;
  --dark-text: #444;
  --box-shadow: #00000040;
  --border-color: #00000010;
  --card-color: #ffffffaa;
  --card-color-on-hover: #ffffffbb;
  --error: #FF5462;
  --warning: #E9B850;
  --success: #5CE06A;


  /*Toastify styles*/
  --toastify-color-success: var(--success);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--success);
}

/*only-body styles*/
body {
  min-width: 320px;
  max-width: none;
  min-height: 100vh;
}


/*text-related styles*/
h1, h2, h3, h4, h5, h6, button, p, div, input, textarea {
  font-family: Ubuntu, monospace;
  color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6, button {
  font-weight: bold;
}

p, input, textarea {
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/*error style*/
p.error {
  color: var(--error);
  text-align: center;
  font-weight: bold;
}

/*link styles*/
a {
  font-weight: normal;
  font-style: italic;
  color: var(--primary);
  text-decoration: underline;
  opacity: 75%;
  will-change: opacity;
  transition: opacity 200ms;
}
a:hover {
  color: var(--primary);
  opacity: 100%;
  cursor: pointer;
}

/*buttons, inputs, textareas*/
button, input, .prompt-text-div {
  border-radius: 30px;
  background-color: var(--light-text);
  color: var(--dark-text);
  font-size: 20px;
  border: 5px solid var(--border-color);
  padding: 10px;
  will-change: box-shadow, border-color, transform, opacity, color, background-color;
  transition: box-shadow 300ms, border-color 200ms, transform 100ms, opacity 300ms, color 300ms, background-color 300ms;
}
button:hover/*, input:hover, .prompt-text-div:hover, .prompt-output:hover*/ {
  box-shadow: 0 2px 2px 2px var(--box-shadow);
  border-color: var(--box-shadow);
  color: var(--light-text);
  background-color: var(--dark-text);
  cursor: pointer;
}
button:active, input:focus, .prompt-text-div-focus {
  box-shadow: 0 0 10px 10px var(--primary-opacity);
  border-color: var(--primary);
  transform: translateY(-2px);
  opacity: 70%;
  outline: none;
}
button:disabled, input:disabled, .prompt-text-div:disabled {
  opacity: 50%;
}
textarea {
  resize: none;
  max-height: 150px;
  overflow-y: auto;
  font-size: 20px;
  padding: 30px;
}
textarea:focus {
  border: none;
  outline: none;
}

/*scrollbars*/
html::-webkit-scrollbar {
  background-color: var(--dark-text);
}
html::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 10px;
  padding-right: 10px;
  margin-right: 10px;
}
html::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: transparent;
}
html::-webkit-scrollbar-corner, textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--secondary-opacity);
  border-radius: 30px;
  will-change: background-color !important;
  transition: background-color 500ms !important;
}
textarea::-webkit-scrollbar-thumb {
  background-color: var(--box-shadow);
  border-radius: 30px;
  will-change: background-color !important;
  transition: background-color 500ms !important;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-text);
}


/*rows and columns*/
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/*center styles*/
.center-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer styles*/
footer {
  position: fixed;
  bottom: 0;
  display: flex;
  opacity: 40%;
  place-items: end;
  justify-content: center;
  width: 100%;
  height: 5%;
}

.footer {
  text-align: center;
  z-index: 0;
}
